body {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	background-color: coral;
	background: linear-gradient(25deg, #FF8E8E, #F5A94C, #E0C15B);
	height: 100vh;
}
#quote-box {
	padding-top: 25vh;
	font-family: 'Cormorant Garamond', serif;
	
}
#quote {
	font-size: 24px;
}

#attributed {
	background: #000000;
    display: inline-block;
    box-shadow: 2px 2px 1px #777777;
    color: #fff;
    padding: 10px;
}