body {
	font-family: 'Roboto', sans-serif;
	margin:0px;
	color: #fff;

}

[class*='col-'] {
  float: left;
}

.col-half {
  width: 50%;
}
.col-full {
  width: 100%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

#top-bar{
	height: 10vh;
	background-color: #00BCD4;
}

#weather {
	height: 35vh;
	background-color: #00BCD4;
}
#temp {
	height: 35vh;
	background-color: #0097A7;

}
#location {
	height: 10vh;
	background-color: #00838F;

}
#illustration {
	height: 45vh;
	background-color: #ffffff;
}

.button {
	background-color: #F50057;
}