body {
	font-family: 'Roboto', sans-serif;
	color: #212121;
	font-size: 2em;
	margin: 0;
}



.wrapper{
	background: linear-gradient(0deg, rgba(0,100,255, 0.1), rgba(0,100,255, 0.4)); /* Standard syntax */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;

}
 
.content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0 5% 2% 5%;
	margin-top: 5%;
	}

.row {
	margin: 5%;
}

#changeunits {
	background-color: #fffff;
	padding: 5%;
	
}